h1 {
  padding-left: 5rem;
  font-size: 50px;
}

html {
  font-size: 18px;
  background-color: #A5C9CA;
}

body {
  margin: 0;
  font-family: "Maven Pro", sans-serif;
  line-height: 1.5;
}

.quizdiv {
  display: inline;
  float: left;
  border: solid;
  margin-left: 5%;
  margin-top: 10%;
  width: 550px;
  height: 200px;
}
.quizdiv h2 {
  margin-left: 5em;
}

.button {
  padding-right: 9em;
  margin-left: 3em;
  justify-content: center;
  margin-top: 2em;
}
.button .button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}
.button .button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.button .button-19:main,
.button .button-19:focus {
  user-select: auto;
}
.button .button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}
.button .button-19:disabled {
  cursor: auto;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 5%;
  font-family: "Maven Pro", sans-serif;
  background-color: #395B64;
}

.logo {
  margin-right: auto;
  width: 10rem;
  height: auto;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
  position: relative;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  display: block;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.nav__links li > ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #395B64;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__links li:hover > ul {
  display: flex;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #395B64;
  color: #fff;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer h3 {
  margin: 0;
}
footer > div > ul {
  padding-left: 1rem;
  list-style: none;
}

@media (min-width: 768px) {
  footer {
    flex-direction: row;
  }
}
img {
  max-width: 100%;
}

.container {
  margin-left: 10%;
  padding-left: 40%;
  margin-top: 0;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/*# sourceMappingURL=style.css.map */
