// Homepagina 

h1 {
    padding-left: 1rem;
    font-size: 50px;
}


html {
    font-size: 18px;
    background-color: #A5C9CA;
}

body {
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
    line-height: 1.5;
}

.quizdiv {
    display: inline;
    float: left;
    border: solid;
    border-color: #395B64;
    border-width: 10px;
    margin-left: 5%;
    width: 630px;
    height: 370px;

    h2 {
        margin-left: 2.5em;
        font-size: 39px;
    }

    p {
        font-size: 30px;
        margin-left: 1rem;
        margin-bottom: 2.5rem;
    }
}

.uitleg {
    font-size: 20px;
    padding: 10px;
    margin: 10px;

}

.button {
    padding-right: 9em;
    margin-left: 9em;
    justify-content: center;
    margin-top: 0em;

    .button-19 {
        appearance: button;
        background-color: #1899D6;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: din-round, sans-serif;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: .8px;
        line-height: 20px;
        margin: 0;
        outline: none;
        overflow: visible;
        padding: 43px 16px;
        text-align: center;
        text-transform: uppercase;
        touch-action: manipulation;
        transform: translateZ(0);
        transition: filter .2s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        width: 100%;
    }

    .button-19:after {
        background-clip: padding-box;
        background-color: #1CB0F6;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        bottom: -4px;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    .button-19:main,
    .button-19:focus {
        user-select: auto;
    }

    .button-19:hover:not(:disabled) {
        filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
    }

    .button-19:disabled {
        cursor: auto;
    }
}

//Homepagina end

// behandeling
.behandeling {
    p {
        margin-left: 15px;
    }

    h1 {
        margin-left: 5px;
    }

    h3 {
        margin-left: 10px;
    }

    .text {
        width: 60%;
    }
}

// behandeling eind

.image {
    width: auto;
    margin-left: 60rem;
    position: absolute;
    top: 15rem;
}

//Navbar 
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 5%;
    font-family: 'Maven Pro', sans-serif;
    background-color: #395B64;
}

.logo {
    margin-right: auto;
    width: 10rem;
    height: auto;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 0px 20px;
    position: relative;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    display: block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

.nav__links li>ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #395B64;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__links li:hover>ul {
    display: flex;
}

//Navbar end

//Footer 
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #395B64;
    color: #fff;

    a {
        color: #fff;
        text-decoration: none;
        margin-right: 4em;
    }

    h3 {
        margin: 0;
        margin-left: 1rem;
    }

    >div>ul {
        padding-left: 1em;
        list-style: none;
    }

    img {
        position: relative;
        top: 5px;
    }
}

//Footer end

//Website size
@media (min-width: 768px) {
    footer {
        flex-direction: row;
    }
}

img {
    max-width: 100%;
}

.container {
    margin-left: 10%;
    padding-left: 40%;
    margin-top: 0;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}


//Geschiedenis style
.Geschiedenis {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .content {

        margin: 10rem 0 10rem 0;
        position: relative;
        gap: 5rem;
        padding: 0 5%;

        p {
            font-size: 2rem;
            max-width: 50%;
        }

        img {
            height: 30rem;
            // float: right; 
            top: 8px;
            right: 16px;
            position: absolute;
            margin: 2rem;
        }

        span {
            position: absolute;
            bottom: 100%;
            font-size: 5rem;
        }
    }
}

// Geschiedenis style  end

//Website size end



//symptomen style
.Syptomen {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .note {

        margin: 10rem 0 10rem 0;
        position: relative;
        gap: 5rem;
        padding: 0 5%;

        p {
            font-size: 1.5rem;
            max-width: 50%;
        }

        img {
            height: 30rem;
            top: 8px;
            right: 10px;
            position: absolute;
            margin: 1rem;
            width: 40%;
        }

        span {
            position: absolute;
            bottom: 100%;
            font-size: 5rem;
        }
    }
}

//syptomern end

.fto {
    display: flex;
    justify-content: center;
    max-height: 30rem;
    margin-top: 5rem;
}

//Homepagina end