body {
  background-color: #A5C9CA;
}

header nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  flex-direction: column;
  align-items: end;
  background-color: #395B64;
  padding: 0 2rem;
  left: 0;

}

ul {
  display: flex;
  list-style: none;
  margin-right: 10rem;
}

ul li {
  position: relative;
}

ul li a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

ul li>ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

ul li:hover>ul {
  display: flex;
}

iframe {

  float: right;
}

div.homepage {
  background-color: #C2DED1;
  width: 300px;
  border: 5px solid #395B64;
  padding: 50px;
  margin-top: 10em;

}

li .Quizbt {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

footer {
  background-color: #395B64;
  justify-content: space-between;
  height: 5.5rem;
  padding: 0 2rem;
  margin-top: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #FFFFFF;
}